
@{
    ViewBag.Title = "AdminPage";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <h1> Admin Login</h1>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../Images/wah.jpg);
            background-position: center;
            background-position: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            font-family: sans-serif;
            margin-top: 40px;
        }

        .user {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }

        .package {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }

        .car {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }

        .register {
            background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
        }

        </head >
    </style>



    <div class="user">
        <p>
            @Html.ActionLink("UserManagement Details", "Index", "User")
        </p>
    </div>

    <div class="package">
        <p>
            @Html.ActionLink("PackageManagementDetails", "PacakgeDetails", "Package")
        </p>
    </div>

    <div class="car">
        <p>
            @Html.ActionLink("CarManagementDetails", "CarDetails", "Car")
        </p>
    </div>
    </body>
</html>


